*{
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "montserrat",sans-serif;
	box-sizing: border-box;
}

body{
    font-weight: bold;
    width: 100%;
	height: 100vh;
	display: inline-block;
    color: #fff;
}

/* header{
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #01a7ad;
} */



.main__background{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),  url(../images/dog-cat-vet.png);
    background-size: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.main__background__index{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),  url(../images/dog-cat-vet.png);
    background-size: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.div__general{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),  url(../images/dog-cat-vet.png);
	display: inline-block;
}

/* .toggler{
    display: none;
} */

.logo{
    display: flex;
    height: 80px;
    width: 80px;
    margin-left: 16px;
}
/*
nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 16px;
    background: #01a7ad;
    left: -100%;
    transition: all .5s;
    list-style: none;
}

nav li{
    margin-bottom: 16px;
    margin-left: 16px;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.7);
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(91, 180, 253);
    transition: ease-in .1s;
}
  
.toggler:checked ~ nav ul {
    left: 0;
}

.burger{
    position: absolute;
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.7);
    top: 0;
    right: 0;
    margin-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
} */

/* HOME */

.welcome__section{
	max-width: 600px;
	height: 300px;
	text-align: center;
	margin: auto;
	display: block;
	margin-top: 200px;
}

.welcome__section h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}

.welcome__section a{
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

.welcome__section a:hover{
	background: #fff;
	color: #333;
}

/* Products */

.table{
	width: 100%;
}

.table__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	background-color: rgb(240, 240, 240);
}

.table__header p{
	color: black;
}

.add__new{
	outline: none;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	padding: 10px 20px;
	color: #fff;
	background-color: #01a7ad;
}

.input__table{
	padding: 10px 20px;
	margin: 0 10px;
	outline: none;
	border: 1px solid #01a7ad;
	border-radius: 6px;
	color: #01a7ad;
}

::placeholder{
	color: #01a7ad;
}

.table__section{
	height: 650px;
	overflow: auto;
}

table{
	width: 100%;
	table-layout: fixed;
	min-width: 1000px;
	border-collapse: collapse;
}

thead th{
	position: sticky;
	top: 0;
	background-color: #f6f9fc;
	color: #8493a5;
	font-size: 15px;
}

th, td{
	padding: 10px 20px;
	word-break: break-all;
	text-align: center;
}

td img{
	height: 60px;
	width: 60px;
	object-fit: cover;
	border-radius: 15px;
	border: 5px solid #ced0d2;
}

tr:hover td{
	color: #01a7ad;
	cursor: pointer;
	background-color: #f6f9fc;
}

.pagination{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 20px;
}

.pagination div{
	padding: 10px;
	border: 2px solid #d5d0d0;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #01a7ad;
	color: #fff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.7);
	margin: 0 5px;
}

::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* contact */

.section__contact{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(../images/dog-cat-vet.png);
	display: flex;
	align-items: center;
	justify-content: center;
    z-index: 10;
}

form{
	width: 90%;
	max-width: 600px;
}

.input-group{
	margin-bottom: 30px;
	position: relative;
}

.input__contact{
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
	font-size: 15px;
}

textarea{
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
	font-size: 15px;
}

.label__contact{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	color: #fff;
	cursor: text;
	transition: 0.2s;
}

.button__form{
	padding: 10px 0;
	color: #fff;
	outline: none;
	background: transparent;
	border: 1px solid #fff;
	width: 100%;
	cursor: pointer;
}

.input__contact:focus~label,
.input__contact:valid~label,
textarea:focus~label,
textarea:valid~label{
	top: -35px;
	font-size: 14px;
}

/* servicios */

.services__section{
	padding: 60px 0;
}

.inner_width{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
}

.h1__service{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 30px;
}

.border{
	width: 160px;
	height: 2px;
	background: #82ccdd;
	margin: 40px auto;
}

.services__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service__box{
	max-width: 33.33%;
	padding: 10px;
	text-align: center;
	color: #ddd;
	cursor: pointer;
}

.service__icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #82ccdd;
	color: #82ccdd;
	transform: rotate(45deg);
	margin-bottom: 30px;
	margin-top: 16px;
	transition: 0.3s linear;
}

.service__icon i{
	line-height: 70px;
	transform: rotate(-45deg);
	font-size: 26px;
}

.service__box:hover .service__icon{
	background: #82ccdd;
	color: #ddd;
}

.service_title{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.service__desc{
	font-size: 14px;
}

/* about us*/

.h1__about{
	text-align: center;
	margin: 10px;
}

.img__gabi{
	max-width: 400px;
	margin: auto;
	display: block;
}

.h3__gabi{
	text-align: center;
	max-width: 400px;
	margin: auto;
}

.h4__gabi{
	text-align: center;
	max-width: 400px;
	margin: auto;
}

.h5__gabi{
	text-align: center;
	max-width: 400px;
	margin: auto;
}

/*.grid__container__about{
		display: flex;
		justify-content: space-around;		
		padding: auto;
		flex-direction: row;
}*/

.grid__container__about{
	display: grid;
	justify-content: space-around;		
	padding: auto;
	grid-template-columns: auto auto auto auto;
}

.img__1{
	max-width: 300px;
	margin: auto;
	display: block;
}

.h3__1{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.h4__1{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.h5__1{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.img__2{
	max-width: 300px;
	margin: auto;
	display: block;
}

.h3__2{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.h4__2{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.h5__2{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.img__3{
	max-width: 300px;
	margin: auto;
	display: block;
}

.h3__3{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.h4__3{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.h5__3{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.img__4{
	max-width: 300px;
	margin: auto;
	display: block;
}

.h3__4{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.h4__4{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.h5__4{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.div__h3{
	text-align: center;
	margin: 10px;
}

.div__iframe{
	display: block;
	margin: auto;
	width: 80%;
	height: 500px;
}

/* Formato Desktop*/

/* @media screen and (min-width: 935px) {
   .burger{
    display: none;
   }

   header{
    display: grid;
    grid-template-columns: 1fr auto minmax(700px, 3fr);
   }

   nav{
    display: flex;
    grid-column: 3/4;
    justify-content: flex-end;
    align-items: center;
   }

   nav ul{
    all: unset;
    list-style: none;
    display: flex;
   }

   nav li{
    margin-bottom: 0;
    margin-right: 16px;
   }
} */

@media only screen and (max-width:1150px)  {
	
	.grid__container__about{
		grid-template-columns: auto auto;
  }
}

@media only screen and (max-width:600px)  {
	
	.grid__container__about{
		grid-template-columns: auto;
	}

	.grid__service{
		grid-template-columns: 90%;
	}

	.div__iframe{
		width: 100%;
		max-height: 300px;
	}
}

/* vista mobile para service */
@media screen and (max-width:960px) {
	.service__box{
		max-width: 45%;
	}
}

@media screen and (max-width:768px) {
	.service__box{
		max-width: 50%;
	}

	.main__background{
		height: auto;
	}
}

@media screen and (max-width:480px) {
	.service__box{
		max-width: 100%;
	}
}