body{
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 3em;

    @mixin background($ancho, $alto) {
        width: $ancho;
        height: $alto;
    }

    .main__background{
        @include background(100%, 100vh);
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),  url(../images/dog-cat-vet.png);
        background-size: cover;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    
    .main__background__index{
        @extend .main__background;
    }
    
    .div__general{
        @include background(100%, 100%);
        background-image:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),  url(../images/dog-cat-vet.png);
        display: inline-block;
    }

    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        .logo__footer{
            height: 80px;
        }
    }
}