.grid__container__about{
	display: grid;
	justify-content: space-around;
	padding: auto;
	grid-template-columns: auto auto auto auto;

    h3{
        @extend %textocentrado;
        max-width: 300px;
    }
    
    h4{
        @extend %textocentrado;
        max-width: 300px; 
    }
    
    h5{
        @extend %textocentrado;
        max-width: 300px;
    }

    .img__1{
        @extend .img__gabi;
        max-width: 300px;
    }
}